@charset "UTF-8";

/* CSS Document */

/* This CSS applies to the entire site. */

* {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 200;
	color: white;
	max-width: 100%;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
/* CSS for the full navigation bar.*/

#topnav {
    width: 100%;
    display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	justify-content: space-between;
	z-index: 11000;
}

#topnav ul li { 
	display: inline-block;
	list-style:none;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav a {
    color: white;
    font-size: 15px;
	text-decoration: none;
	padding-left: 20px;
}

nav a:hover {
  	color: #A8A1A6;
}

nav a.active {
  	color: #D73229;
}

.topnav-left {
	display: flex;
  	float: left;
	margin-left: -10px;
	align-items: center;
}

.topnav-right {
  	float: right;
	margin-right: 50px;
}

.logo-image {
	height: 16px;
}

.btnLogin-popup {
    width: 60px;
    height: 30px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: #D73229;
    color: #ffff;
}

/* Setting up the footer. */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	padding-top: 120px;
	padding-bottom: 60px;
	font-size: 12px;
	background-color: #111111;
	display: grid;
  	grid-template-columns: 32fr 12fr 12fr 12fr 32fr;
	grid-row-gap: 60px;
	align-items: center;
}

footer a {
	color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
	font-size: 18px;
    }

.icon-images {
	max-height: 30px;
}

.footer-column1 {
  	grid-column: 1;
  	grid-row: 1;
}

img.footer-column1 {
	max-width: 40%;
	display: block;
    margin: 0 auto;
}

.footer-column2 {
  	grid-column: 2;
  	grid-row: 1;
	display: block;
	text-align: left;
}

.footer-column2 a {
    display: block;
    margin-bottom: 5px;
	font-size: 14px;
}

.footer-column3 {
  	grid-column: 3;
  	grid-row: 1;
	display: block;
	text-align: left;
}

.footer-column3 a {
    display: block;
    margin-bottom: 5px;
	font-size: 14px;
}

.footer-column4 {
  	grid-column: 4;
  	grid-row: 1;
	display: block;
	text-align: left;
}

.footer-column4 a {
    display: block;
    margin-bottom: 5px;
	font-size: 14px;
}

.footer-column5 {
  	grid-column: 5;
  	grid-row: 1;
}

.footer-bottom{
  	grid-column: 1/6;
  	grid-row: 2;
}


/* Image classes */

.logo-image {
	max-height: 16px;
}

#nextButton13 {
	display: none;
}

/* Fonts */

.text1 {
	font-size: 26px;
	margin-left: 40px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
}

.text2 {
	display: block;
    margin-bottom: 15px;
	margin-left: 10px;
	font-size: 18px;
}

.text3 {
	font-size: 26px;
	margin-left: 40px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
	color: black;
}

.text4 {
	font-size: 30px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
	margin: 0;
    align-self: flex-start;
}

.text5 {
	font-size: 14px;
	margin: 0;
    align-self: flex-start;
	padding-bottom: 15px;
}

.text6 {
	font-size: 16px;
	margin: 0;
    align-self: flex-start;
}

.text7 {
	font-size: 50px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
	margin: 0;
	margin-bottom: 20px;
}

.text8 {
	font-size: 30px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
	margin: 0;
}

/* Carousel(s) setup. */

.carousel {
  	width: 100%;
  	overflow: hidden;
	position: relative;
}

.carousel-inner {
  	display: flex;
  	transition: transform 0.5s ease;
	padding-left: 20px;
	padding-right: 20px;
}

.carousel-container {
    position: relative;
	padding-right: 60px;
}

.carousel-item {
  	flex: 0 0 calc(100% / 3);
  	max-width: calc(100% / 3);
  	text-align: left;
	font-size: 18px;
  	box-sizing: border-box;
	padding: 20px;
}

.carousel-item a {
	text-decoration: none;
}

.carousel-item img:hover {
	transform: scale(1.07);
}

.carousel-item img {
  	width: 100%;
  	height: auto;
	padding-bottom: 20px;
	
}

.carousel-item2 {
  	flex: 0 0 calc(100% / 5);
  	max-width: calc(100% / 5);
  	text-align: left;
  	box-sizing: border-box;
	padding: 20px;
}

.carousel-item2 a {
	text-decoration: none;
}

.carousel-item2 img {
  	width: 100%;
  	height: auto;
	padding-bottom: 20px;
}

.carousel-item2 img:hover {
  	transform: scale(1.12);
}

.carousel-item2-black {
  	flex: 0 0 calc(100% / 5);
  	max-width: calc(100% / 5);
  	text-align: left;
  	box-sizing: border-box;
	padding: 20px;
	color: black;
}

.carousel-item2-black a {
	text-decoration: none;
	color: black;
}

.carousel-item2-black img {
  	width: 100%;
  	height: auto;
	padding-bottom: 20px;
}

.carousel-item2-black img:hover {
  	transform: scale(1.12);
}

.carousel-next-icon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
	max-height: 10%;
	padding: 30px;
}

.carousel-move {
    transform: translateX(-200%);
}

/* Grid layout for home page. */

.grid-system {
	position: relative;
	display: grid;
  	grid-template-columns: 50fr 50fr;
  	column-gap: 50px;
	grid-row-gap: 60px;
	padding-bottom: 120px;
}

.row-one {
	position: relative;
  	grid-column: 1/3;
  	grid-row: 1;
}

img.row-one {
	width: 100%;
}

.row-two {
  	grid-column: 1/3;
  	grid-row: 2;
}

.row-three {
  	grid-column: 1/3;
  	grid-row: 3;
}

.row-four {
  	grid-column: 1/3;
  	grid-row: 4;
}

.row-five {
  	grid-column: 1/3;
  	grid-row: 5;
}

.row-six {
	grid-column: 1/3;
  	grid-row: 6;
}

/* CSS for account form.*/


.wrapper {
    position: absolute;
	z-index: 10;
    width: 400px;
    height: 440px;
    background: transparent;
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	top: 15%;
	left: 38%;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.icon-close:hover {
	color:#D73229;
}

.form-box h2 {
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #FFFFFF;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #FFFFFF;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #FFFFFF;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.form-box h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #FFFFFF;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #FFFFFF;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


/* Grid layout for read, watch subpages. */

.grid-system-2 {
	display: grid;
  	grid-template-columns: 50fr 50fr;
  	column-gap: 50px;
	grid-row-gap: 100px;
	padding-bottom: 120px;
}

.row-one-2 {
  	grid-column: 1/3;
  	grid-row: 1;
	margin-bottom: -60px;
}

img.row-one-2 {
	width: 100%;
}

.row-two-2 {
  	grid-column: 1/3;
  	grid-row: 2;
	margin-bottom: -20px;
}

.row-three-2 {
  	grid-column: 1/3;
  	grid-row: 3;
	background-color: #D73229;
	padding-top: 20px;
	padding-bottom: 10px;
}

.row-four-2a {
  	grid-column: 1;
  	grid-row: 4;
}

img.row-four-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-four-2a img:hover {
	transform: scale(1.07);
}

.row-four-2b {
  	grid-column: 2;
  	grid-row: 4;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-four-2b a {
  	text-decoration: none;
}

.row-five-2a {
  	grid-column: 1;
  	grid-row: 5;
}

img.row-five-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-five-2a img:hover {
	transform: scale(1.07);
}

.row-five-2b {
  	grid-column: 2;
  	grid-row: 5;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-five-2b a {
  	text-decoration: none;
}

.row-six-2a {
  	grid-column: 1;
  	grid-row: 6;
}

img.row-six-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-six-2a img:hover {
	transform: scale(1.07);
}

.row-six-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 6;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-six-2b a {
  	text-decoration: none;
}

.row-seven-2a {
  	grid-column: 1;
  	grid-row: 7;
}

img.row-seven-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-seven-2a img:hover {
	transform: scale(1.07);
}

.row-seven-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 7;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-seven-2b a {
  	text-decoration: none;
}

.row-eight-2a {
  	grid-column: 1;
  	grid-row: 8;
}

img.row-eight-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-eight-2a img:hover {
	transform: scale(1.07);
}

.row-eight-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 8;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-eight-2b a {
  	text-decoration: none;
}

.row-nine-2a {
  	grid-column: 1;
  	grid-row: 9;
}

img.row-nine-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-nine-2a img:hover {
	transform: scale(1.07);
}

.row-nine-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 9;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-nine-2b a {
  	text-decoration: none;
}

.row-ten-2a {
  	grid-column: 1;
  	grid-row: 10;
}

img.row-ten-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-ten-2a img:hover {
	transform: scale(1.07);
}

.row-ten-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 10;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-ten-2b a {
  	text-decoration: none;
}

.row-eleven-2a {
  	grid-column: 1;
  	grid-row: 11;
}

img.row-eleven-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-eleven-2a img:hover {
	transform: scale(1.07);
}

.row-eleven-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 11;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-eleven-2b a {
  	text-decoration: none;
}

.row-twelve-2a {
  	grid-column: 1;
  	grid-row: 12;
}

img.row-twelve-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-twelve-2a img:hover {
	transform: scale(1.07);
}

.row-twelve-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 12;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-twelve-2b a {
  	text-decoration: none;
}

.row-thirteen-2a {
  	grid-column: 1;
  	grid-row: 13;
}

img.row-thirteen-2a {
	margin-left: 40px;
	width: 90%;
	align-content: center;
}

.row-thirteen-2a img:hover {
	transform: scale(1.07);
}

.row-thirteen-2b {
	margin-top: 40px;
  	grid-column: 2;
  	grid-row: 13;
	display: flex;
    flex-direction: column;
    align-items: left;
	justify-content: center;
	margin-right: 40px;
	text-align: left;
}

.row-thirteen-2b a {
  	text-decoration: none;
}

.row-fourteen {
  	grid-column: 1/3;
  	grid-row: 14;
	display: flex;
    align-items: center;
	justify-content: center;
}

img.row-fourteen {
	width: 40px;
	height: 40px;
	align-items: center;
}

.row-fourteen img:hover {
	transform: scale(1.2);
}

.grid-system-3 {
	display: grid;
  	grid-template-columns: 33fr 33fr 33fr;
  	column-gap: 50px;
	grid-row-gap: 70px;
}

.row-one-3 {
	grid-column: 1/4;
  	grid-row: 1;
	margin-top: 40px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

img.row-one-3 {
	width: 60%;
}

.row-oneb-3 {
	grid-column: 1/2;
  	grid-row: 1;
	margin-top: 50px;
	display: flex;
  	justify-content: left;
	margin-top: 80px;
	z-index: 30000;
}

.row-oneb-3 a {
	text-decoration: none
}

.row-oneb-3 img{
	width: 14px;
	height: 14px;
	margin-left: 50px;
	margin-right: 5px;
	margin-bottom: -2px;
}

.row-oneb-3-b {
	grid-column: 1/2;
  	grid-row: 1;
	margin-top: 50px;
	display: flex;
  	justify-content: left;
	margin-top: 80px;
	z-index: 30000;
	display: none;
}

.row-oneb-3-b a {
	text-decoration: none
}

.row-oneb-3-b img {
	width: 20px;
	height: 20px;
	margin-left: 50px;
	margin-right: 5px;
	margin-bottom: -2px;
}

.row-two-3 {
	grid-column: 1/4;
  	grid-row: 2;
	display: flex;
  	justify-content: center;
  	align-items: center;
    flex-direction: column;
	margin-top: -20px;
}

.row-three-3 {
	grid-column: 1/4;
  	grid-row: 3;
	display: flex;
  	justify-content: center;
  	align-items: center;
    flex-direction: column;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: -60px;
}

.row-four-3 {
	grid-column: 1/4;
  	grid-row: 4;
	margin-bottom: 50px;
}

.grid-system-4 {
	display: grid;
  	grid-template-columns: 14fr 24fr 24fr 24fr 14fr;
  	column-gap: 50px;
	grid-row-gap: 70px;
}

.iframe-wrapper {
	grid-column: 2/5;
  	grid-row: 1;
	width: 100%;
}

.row-one-4 {
	margin-top: 80px;
	z-index: 10000;
	position: relative;
  	overflow: hidden;
  	width: 100%;
  	padding-top: 56.25%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-one-4 iframe {
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;
}

.row-oneb-4 {
	grid-column: 1/6;
  	grid-row: 1;
	margin-top: 50px;
	display: flex;
  	justify-content: left;
	margin-top: 80px;
	z-index: 10000;
}

.row-oneb-4 a {
	text-decoration: none
}

.row-oneb-4 img{
	width: 14px;
	height: 14px;
	margin-left: 50px;
	margin-right: 5px;
	margin-bottom: -2px;
}

.row-oneb-4-b {
	grid-column: 1/6;
  	grid-row: 1;
	margin-top: 50px;
	display: flex;
  	justify-content: left;
	margin-top: 80px;
	z-index: 10000;
	display: none;
}

.row-oneb-4-b a {
	text-decoration: none
}

.row-oneb-4-b img{
	width: 20px;
	height: 20px;
	margin-left: 50px;
	margin-right: 5px;
	margin-bottom: -2px;
}

.row-two-4 {
	grid-column: 1/6;
  	grid-row: 2;
	display: flex;
  	justify-content: center;
  	align-items: center;
    flex-direction: column;
}

.row-three-4 {
	grid-column: 1/6;
  	grid-row: 4;
	margin-bottom: 50px;
	margin-top: -60px;
}

/* Cursor. */

.cursor{
   	position: fixed;
   	width: 20px;
   	height: 20px;
   	pointer-events: none;
	scale: 175%;
   	z-index: 13000;
   	transition: transform 0.2s;
}

html,
*{
cursor: none;
}

/* Community page style */

.communitytype{
	margin: 40px;
	padding-bottom: 20px;
	display: grid;
  	grid-template-columns: 3fr 6fr;
	grid-row-gap: 0px;
	align-items: center;
}

.post{
	margin-left: 20px;
}

.posttitle{
	font-size: 26px;
	margin-left: 20px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
}

.communityimg1{
	max-width:400px ;
	max-height: 800px;
	padding-bottom:  20px;
	grid-column: 1/3;
}

.postdesc{
	margin: 40px;
	padding-bottom: 10px;
	}

.joinbutton{
	background-color: #D9352C;
	max-width: 60px;
	max-height:40px ;
	margin: 40px;
	padding: 20px;
	border-radius: 30px;	
	text-align: center
}
/* Community page style */

.communitytype{
	margin: 40px;
	padding-bottom: 20px;
	display: grid;
  	grid-template-columns: 3fr 6fr;
	grid-row-gap: 0px;
	align-items: center;
}

.post{
	margin-left: 20px;
}

.posttitle{
	font-size: 26px;
	margin-left: 20px;
	padding-bottom: 20px;
	font-family: 'Barriecito';
	
}

.communityimg1{
	max-width:400px ;
	max-height: 800px;
	padding-bottom:  20px;
	grid-column: 1/3;
}

.postdesc{
	margin: 40px;
	padding-bottom: 10px;
	}

.joinbutton,.readbutton{
	background-color: #D9352C;
	max-width: 60px;
	max-height:40px ;
	margin: 40px;
	padding: 20px;
	border-radius: 30px;	
	text-align: center
}
#popup{
	position:fixed;
	top: 30%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
#popup .popuptext{
	background-color: white;
	max-width: 400px;
	margin: 50px auto 0 auto;
	padding: 20px;
	border-radius: 20px;
	position:relative;	
}

#popup .popuptext {
	text-align: center;
	font-size: 3rem;
	color: #D9352C;
	}

#popup #closepopup{
	position: absolute;
	top: -10px;
	right: -10px;
	background-color:#D9352C;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 64px;
	font-size: 70px;
}

#popup #closepopup:hover {
	cursor: pointer;
<<<<<<< HEAD
	font-family: 'Barriecito';
}


=======
}
>>>>>>> a7c839c2c1bc311800d0452889f334396b267f4e
@media (max-width:760px) {
	
	.carousel-item {
  		flex: 0 0 calc(100%);
  		max-width: calc(100%);
		padding-right: 40px;
	}
	
	.carousel-item2 {
  		flex: 0 0 calc(100% / 3);
/* Community page style END*/
  		max-width: calc(100% / 3);
	}
	
	.carousel-item2-black {
  		flex: 0 0 calc(100% / 3);
  		max-width: calc(100% / 3);
	}
	
	#nextButton13 {
		display: block;
	}
	
	.row-oneb-3-b {
		display: block;
	}
	
	.row-oneb-3 {
		display: none;
	}
	
	.row-oneb-4-b {
		display: block;
	}
	
	.row-oneb-4 {
		display: none;
	}
	
}
